{% extends "layout.html" %}

{% from "macros.html" import show_flash, render_field with context %}
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">RiskFactor DCA</h3>
          </div>
          <div class="panel-body">
            {{ show_flash('error', 'danger', 'exclamation-sign') }}
            {% if next != '/' %}
              {{ show_flash('info', 'info', 'info-sign') }}
            {% endif %}
            <form method="POST">
              <fieldset>
                {{ render_field(form.email, class_='form-control', placeholder='Email', autofocus='autofocus') }}
                {{ render_field(form.password, class_='form-control', placeholder='Password') }}
                <div class="checkbox">
                  <label>
                    {{ form.remember }} {{ form.remember.label }}
                  </label>
                  {{ form.csrf_token }}
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Login</a>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
