{% macro show_flash(flash_category, alert_context, glyphicon=None) %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    {% if category == flash_category %}
    <div class="alert alert-{{ alert_context }}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% if glyphicon %}
      <span class="glyphicon glyphicon-{{ glyphicon }}" aria-hidden="true"></span>
      {% endif %}
      <span class="sr-only">{{ category }}</span>
      {{ message }}
    </div>
    {% endif %}
  {% endfor %}
{% endwith %}
{% endmacro %}

{% macro render_field(field) %}
  {% if field.errors %}
  <div class="form-group has-error">
    {% for error in field.errors %}
    <label class="control-label">{{ error }}</label>
    {% endfor %}
  {% else %}
  <div class=form-group>
  {% endif %}
    {{ field(**kwargs)|safe }}
  </div>
{% endmacro %}
