{% extends "navigation.html" %}

{% from "macros.html" import show_flash, render_field with context %}
{% block page %}
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          {{ show_flash('error', 'danger', 'exclamation-sign') }}
          {{ show_flash('info', 'info', 'info-sign') }}
          <h1 class="page-header">Business Records</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Active Businesses
              <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#addModal">
                <i class="fa fa-plus fa-2x"></i>
              </button>
            </div>
            <div class="panel-body">
              <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="biz-index">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Business Name</th>
                      <th>Contact/Owner</th>
                      <th>Phone Number</th>
                      <th>Examine</th>
                      {% if data.perms.access.modBiz %}
                      <th>Modify</th>
                      {% endif %}
                      {% if data.perms.access.delBiz %}
                      <th>Archive</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for biz in data.biz_list %}
                    <tr>
                      <td>{{ biz.details.type.name }}</td>
                      <td>{{ biz.details.name }}</td>
                      <td>{{ biz.details.contact }}</td>
                      <td>{{ biz.details.phone }}</td>
                      <td>
                        <a class="btn btn-info btn-xs" href="{{ url_for('doc_manage', record=biz.details.id) }}" role="button">
                          <i class="fa fa-eye fa-large"></i>
                        </a>
                      </td>
                      {% if data.perms.access.modBiz %}
                      <td>
                        <button class="btn btn-warning btn-xs" name="editBiz" data-id="{{ biz.details.id }}">
                          <i class="fa fa-pencil fa-large"></i>
                        </button>
                      </td>
                      {% endif %}
                      {% if data.perms.access.delBiz %}
                      <td>
                        <button class="btn btn-danger btn-xs"  name="deleteBiz" data-id="{{ biz.details.id }}">
                          <i class="fa fa-archive fa-large centered"></i>
                        </button>
                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if data.perms.access.addBiz %}
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="addModalLabel">New Business Record</h4>
            </div>
            <div class="modal-body">
              <form id="addBizForm" class="form-horizontal" method="POST">
                {{ form.id(value='new') }}
                <fieldset>
                  <legend>Business Information</legend>
                  {{ render_field(form.name, form.name.label, autofocus='autofocus') }}
                  {{ render_field(form.type, form.type.label) }}
                </fieldset>
                <fieldset>
                  <legend>Contact Information</legend>
                  {{ render_field(form.contact, form.contact.label) }}
                  {{ render_field(form.phone, form.phone.label) }}
                </fieldset>
                {{ form.csrf_token }}
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" form="addBizForm" class="btn btn-primary">Create Record</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if data.perms.access.modBiz %}
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="editModalLabel">Modify Business Record</h4>
            </div>
            <div class="modal-body">
              <form id="editBizForm" class="form-horizontal" method="POST">
                {{ form.id(value='') }}
                <fieldset>
                  <legend>Business Information</legend>
                  {{ render_field(form.name, form.name.label, autofocus='autofocus') }}
                  {{ render_field(form.type, form.type.label) }}
                </fieldset>
                <fieldset>
                  <legend>Contact Information</legend>
                  {{ render_field(form.contact, form.contact.label) }}
                  {{ render_field(form.phone, form.phone.label) }}
                </fieldset>
                {{ form.csrf_token }}
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" form="editBizForm" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock %}

{% block script %}
  {{ super() }}

  <script>
    $(function() {
      $('#biz-index').DataTable({
        "responsive": true,
        "columnDefs": [{
          {% if data.perms.access.modBiz and data.perms.access.delBiz %}
          "targets": [-1,-2,-3],
          {% elif data.perms.access.modBiz or data.perms.access.delBiz %}
          "targets": [-1,-2],
          {% else %}
          "targets": [-1],
          {% endif %}
          "searchable": false,
          "orderable": false,
          "className": "text-center"
        }]
      });

      {% if data.perms.access.modBiz %}
      $('button[name="editBiz"]').on('click', function(){
        $.ajax({
          url: '{{ url_for('get_data', type='biz') }}',
          data: {
            bizId: $(this).attr('data-id')
          },
          type: 'POST',
          success: function(data) {
            $('#editBizForm #id').val(data.id);
            $('#editBizForm #name').val(data.name);
            $('#editBizForm #type').val(data.type);
            $('#editBizForm #contact').val(data.contact);
            $('#editBizForm #phone').val(data.phone);
            $('#editModal').modal();
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
      {% endif %}

      {% if data.perms.access.delBiz %}
      $('button[name="deleteBiz"]').on('click', function(){
        $.ajax({
          url: '{{ url_for('get_data', type='biz') }}',
          data: {
            bizId: $(this).attr('data-id'),
            action: 'archive'
          },
          type: 'POST',
          success: function() {
            window.location.reload(true);
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
      {% endif %}

      var error = {{ (form.errors|length == 0)|lower }};
      if (!error){
        $('#editModal').modal('show');
      }

    });
  </script>
{% endblock %}
