{% extends "navigation.html" %}

{% from "macros.html" import show_flash, render_field with context %}
{% block page %}
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          {{ show_flash('error', 'danger', 'exclamation-sign') }}
          {{ show_flash('info', 'info', 'info-sign') }}
          <h1 class="page-header">Employee Profile</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Information
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Permissions
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
