{% extends "navigation.html" %}

{% from "macros.html" import show_flash, render_field with context %}
{% block page %}
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          {{ show_flash('error', 'danger', 'exclamation-sign') }}
          {{ show_flash('info', 'info', 'info-sign') }}
          <h1 class="page-header">User Administration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Rostered Employees
              <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#addModal">
                <i class="fa fa-plus fa-2x"></i>
              </button>
            </div>
            <div class="panel-body">
              <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="user-list">
                  <thead>
                    <tr>
                      <th>Position</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Access</th>
                      <th>Moderator</th>
                      <th>Modify</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set ternary = ['No','Yes'] %}
                    {% for user in data.user_list %}
                    <tr>
                      <td>{{ user.data.position.title }}</td>
                      <td>{{ user.data.fullName }}</td>
                      <td>{{ user.data.email }}</td>
                      <td>{{ user.access.level }}</td>
                      <td>{{ ternary[user.access.moderator] }}</td>
                      <td>
                        <button class="btn btn-warning btn-xs" name="editInfo" data-id="{{ user.data.id }}">
                          <i class="fa fa-info fa-large"></i>
                        </button>
                        &nbsp;|&nbsp;
                        <button class="btn btn-warning btn-xs" name="editPerm" data-id="{{ user.data.id }}">
                          <i class="fa fa-key fa-large"></i>
                        </button>
                      </td>
                      <td>
                        <button class="btn btn-danger btn-xs"  name="removeUser" data-id="{{ user.data.id }}">
                          <i class="fa fa-ban fa-large centered"></i>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="addModalLabel">New Employee Info</h4>
            </div>
            <div class="modal-body">
              <form id="addUserForm" class="form-horizontal" method="POST">
                {{ form.id(value='new') }}
                <fieldset>
                  <legend>Personal</legend>
                  {{ render_field(form.fullName, form.fullName.label, autofocus='autofocus') }}
                  {{ render_field(form.position, form.position.label) }}
                </fieldset>
                <fieldset>
                  <legend>Account</legend>
                  {{ render_field(form.email, form.email.label) }}
                  {{ render_field(form.password, form.password.label) }}
                  {{ render_field(form.confirm, form.confirm.label) }}
                </fieldset>
                {{ form.csrf_token }}
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" form="addUserForm" class="btn btn-primary">Create User</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="editInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="editModalInfoLabel">Modify Employee Info</h4>
            </div>
            <div class="modal-body">
              <form id="editUserInfoForm" class="form-horizontal" method="POST">
                {{ form.id(value='') }}
                <fieldset>
                  <legend>Personal</legend>
                  {{ render_field(form.fullName, form.fullName.label, autofocus='autofocus') }}
                  {{ render_field(form.position, form.position.label) }}
                </fieldset>
                <fieldset>
                  <legend>Account</legend>
                  {{ render_field(form.email, form.email.label) }}
                  {{ render_field(form.password, form.password.label) }}
                  {{ render_field(form.confirm, form.confirm.label) }}
                </fieldset>
                {{ form.csrf_token }}
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" form="editUserInfoForm" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
  {{ super() }}

  <script>
    $(function() {
      $('#user-list').DataTable({
        "responsive": true,
        "columnDefs": [{
          "targets": [-1,-2],
          "searchable": false,
          "orderable": false,
          "className": "text-center"
        }]
      });

      $('button[name="editInfo"]').on('click', function(){
        $.ajax({
          url: '{{ url_for('get_data', type='usr') }}',
          data: {
            usrId: $(this).attr('data-id')
          },
          type: 'POST',
          success: function(data) {
            $('#editUserInfoForm #id').val(data.id);
            $('#editUserInfoForm #fullName').val(data.fullName);
            $('#editUserInfoForm #position').val(data.position);
            $('#editUserInfoForm #email').val(data.email);
            $('#editInfoModal').modal();
          },
          error: function(error) {
            console.log(error);
          }
        });
      });

      $('button[name="removeUser"]').on('click', function(){
        $.ajax({
          url: '{{ url_for('get_data', type='usr') }}',
          data: {
            id: $(this).attr('data-id'),
            action: 'remove'
          },
          type: 'POST',
          success: function() {
            window.location.reload(true);
          },
          error: function(error) {
            console.log(error);
          }
        });
      });

      var error = {{ (form.errors|length == 0)|lower }};
      if (!error){
        $('#editModal').modal('show');
      }

    });
  </script>
{% endblock %}
